<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>url</param-name>
        <param-value>https://nhnacademy.com/</param-value>
    </context-param>


    <welcome-file-list>
        <welcome-file>/main.html</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>setCookieServlet</servlet-name>
        <servlet-class>com.nhnacademy.study.SetCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>setCookieServlet</servlet-name>
        <url-pattern>/set-cookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readCookieServlet</servlet-name>
        <servlet-class>com.nhnacademy.study.ReadCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>readCookieServlet</servlet-name>
        <url-pattern>/read-cookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.nhnacademy.study.login.LoginServlet</servlet-class>

        <init-param>
            <param-name>id</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>pwd</param-name>
            <param-value>1234</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.nhnacademy.study.login.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>